// Specific CSS for your home-page

.parallax {
  /* The image used */
  background-image: asset-url("logo.rosa.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-color: $background;
}

#box {
  border: 1px solid $nav;
  border-radius: 10px
  

}


 