<div class="background"> 
  <div class="container">
    <div class="card">
      <h1>My Self-care space </h1>
    </div>
    <div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut porro fugit minus doloribus, nam mollitia accusamus enim ad dolorem magni nemo facere corporis perferendis reprehenderit? Quia fugit voluptates quam tenetur.</p>
    </div>
    <div class="cards-proposta">
      <h2>My self care</h2>
      <p>lorem</p>
    </div>
  </div>
</div>
